main * {
    font-family: sans-serif;
}

body {
    background-image: url(background2.jpg);
    background-position: right top;
    background-repeat: repeat;
    background-size: 60%;
    background-position-y: -450px, 0px;
    padding: 15px;
    font-family: sans-serif;
}

h1{
    color: darkgreen;
    font-style: italic;
    font-size: 100px;
    position: relative;
    bottom: 50px;
    text-shadow: 5px 4px black;
    text-align: center;
    
}


.Buttons{
   margin-left: 400px;
}

#bStamm {
    margin-left: 800px;
}

#bTopf {
    margin-left: 500px;
    position: relative;
    bottom: 15px;
}

#bEnd {
    position: relative;
    top: 350px;
    right: 100px;
}

#bilderTopf {
    position: relative;
    width: 10px, 10px, 10px;
    
}

