body {
    background-image: url(/A.1.3/Portfolio/Pictures/2ndBackground.png), url(/A.1.3/Portfolio/Pictures/background2.png);
    background-position: center top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 60%, 1%;
    background-position-y: -450px, 0px;
    padding: 15px;
}


h1{
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 100px;
    position: relative;
    bottom: 130px;
    text-shadow: 5px 4px black;
    text-align: center;
    
    
}

h2{
    color: rgb(139, 0, 0);
    width: 100%;
    position: relative;
    top: 270px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    
}

.BlenderPicture{
    position: relative; 
    top: 270px;
    border: 5px solid green;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.Videos{
    position: relative;
    top: 270px;
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;

}

#navigation{
    overflow: hidden;
    background-color: black;
    width: max-content;   
}

#navigation a{
    float: right;
    display: block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 16px;
}

.Inhalt {
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

#navigation a:hover{
    background-color: chartreuse;
    color: darkblue;
}

#secondBGR{
    position: relative;
    top: 0;
    width: 100%;

}

#BeschreibungsText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    width: 600px;
    left: 500px;
    bottom: 3000px;
    font-size: 20px;
    color: grey;
    text-shadow:1px 1px black;
}

.SocialMedia{
    position: absolute;
    left: 1160px;
    


}





