body {
    background-image: url(2ndBackground.png), url(background2.png);
    background-position: center top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 60%, 1%;
    background-position-y: -450px, 0px;
    padding: 15px;
    font-family: sans-serif;
}


h1{
    color: blueviolet;
    font-family: sans-serif;
    font-style: italic;
    font-size: 100px;
    position: relative;
    bottom: 90px;
    text-shadow: 5px 4px black;
    text-align: center;
    
    
}

h2{
    color: rgb(139, 0, 0);
    width: 100%;
    position: relative;
    top: 270px;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    
}

.BlenderPicture{
    position: relative; 
    top: 270px;
    border: 5px solid green;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.Videos{
    position: relative;
    top: 270px;
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;

}

#navigation{
    overflow: hidden;
    background-color: black;
    width: max-content;   
}

#navigation a{
    float: right;
    display: block;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 16px;
}

.Inhalt {
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

#navigation a:hover{
    background-color: chartreuse;
    color: darkblue;
}

.current{
    background-color: chartreuse;
}

#BeschreibungsText{
    font-family: sans-serif;
    position: relative;
    width: 600px;
    left: 500px;
    bottom: 150px;
    font-size: 20px;
    color: grey;
    text-shadow:1px 1px black;
}

.SocialMedia{
    position: absolute;
    left: 1160px;
    bottom: 580px;
}

form {
    position: relative;
    left: 750px;
    top: 300px;
    background-color: #eee;
    width: 300px; 
    padding: 20px;
    border: 1px solid #8c8c8c;
  }
  label { 
    display: block;
    
  }
  input#absender,
  textarea {
    width: 300px;
    border: 3px solid #9c9c9c;
    margin-bottom: 30px;
  }
  textarea {
    height: 50px;
  }
  
  





