main * {
    font-family: sans-serif;
}


.sticky{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9;
}

#navigation a:hover{
    background-color: chartreuse;
    color: darkblue;
}

.current{
    background-color: chartreuse;
}

body {
    background-image: url(2ndBackground.png), url(background2.png);
    background-position: center top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 60%, 1%;
    background-position-y: -450px, 0px;
    padding: 15px;
    font-family: sans-serif;
}


h1{
    color: blueviolet;
    animation-name: Titel;
    animation-duration: 5s;
    font-style: italic;
    font-size: 100px;
    position: relative;
    bottom: 90px;
    text-shadow: 5px 4px black;
    text-align: center;
    
}

@keyframes Titel{
    from {color: blueviolet;}
    to { color:  blue;}
    
}

h2{
    border-radius: 15px;
    color: rgb(139, 0, 0);
    width: 100%;
    position: relative;
    top: 270px;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    
}

 div ~ b{
    color: chartreuse;
}

.BlenderPicture{
    position: relative; 
    top: 270px;
    border: 5px solid green;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.Videos{
    position: relative;
    top: 270px;
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;

}

#navigation{
    overflow: hidden;
    background-color: black;
    width: max-content;   
}

#navigation a{
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px;
}

.Inhalt {
    padding: 16px;
}


#BeschreibungsText{

    position: relative;
    width: 600px;
    left: 500px;
    bottom: 150px;
    font-size: 20px;
    color: grey;
    text-shadow:1px 1px black;
}

.SocialMedia{
    position: absolute;
    left: 1160px;
    bottom: 580px;
}

form {
    position: relative;
    left: 750px;
    top: 300px;
    background-color: #eee;
    width: 300px; 
    padding: 20px;
    border: 1px solid #8c8c8c;
  }
  label { 
    display: block;
    
  }
  input#absender,
  textarea {
    width: 300px;
    border: 3px solid #9c9c9c;
    margin-bottom: 30px;
  }
  textarea {
    height: 50px;
  }

  #ListeN{
    font-size: 30px;
    inline-size: 10px;
    position: relative;
    left: 300px;
    top: 250px;
    color: darkviolet;
    
}

#Name{
    font-size: 30px;
    position: relative;
    left: 440px;
    top: -20px;
}

#Alter{
    font-size: 30px;
    position: relative;
    left: 445px;
    top: -50px;

}

#Größe{
    font-size: 30px;
    position: relative;
    left: 460px;
    top: -80px;
}

#Augenfarbe{
    font-size: 30px;
    position: relative;
    left: 555px;
    top: -107px;
}

#Geburtstag{
    font-size: 30px;
    position: relative;
    left: 555px;
    top: -136px;
}

#Beschäftigung{
    font-size: 30px;
    position: relative;
    left: 608px;
    top: -167px;
}

#Interessen{
    font-size: 30px;
    position: relative;
    left: 540px;
    top: -197px;
}

#Profilbild{
    margin-left: auto;
    margin-right: auto;
    width: 6ex;
}
  
  /*Mobile*/
  @media screen and (max-width: 600px) {
    
    h1{
        color: violet;
        font-size: 50px;
        position: relative center;
        top: 10px;
        
    }

    h2{
        font-size: 40px
    }

    body{
        background-size: 100%, 1%;
        background-position-y: 0px, 0px;
    }

    div>p{
        color: red;
    }

    #ListeN{
        font-size: 18px;
        inline-size: 10px;
        position: relative;
        left: 00px;
        top: 250px;
        color: darkviolet;

    }

    #BeschreibungsText{
        position: relative;
        width: 200px;
        left: 130px;
        bottom: -150px;
        font-size: 15px;
        color: grey;
        text-shadow:1px 1px black;
    }

    .SocialMedia{
        position: relative;
        left: 110px;
        bottom: -90px;
    }

    .BlenderPicture{
        position: relative; 
        width: 100px;
        right: 35px;
        margin-bottom: 0%;
        margin-top: 0%;
    
    }

    .BlenderPicture img{
        width: 200px;
    }

    .Profilbild img{
        width: 200px;
        height: 99px;
        position: relative;
        top: 120px;
        left: 30px;
    }

    
    .Videos{
        position: relative;
        top: 270px;
        width: 250px;
        height: 500px;
        display: block;
        margin: 0 auto;
    
    }

    video{
        width: 250px;
    }
        
    form {
        position: relative;
        left: 10px;
        top: 300px;
        background-color: #eee;
        width: 200px; 
        padding: 20px;
        border: 1px solid #8c8c8c;
      }
      label { 
        display: block;
        
      }
      input#absender,
      textarea {
        width: 200px;
        border: 3px solid #9c9c9c;
        margin-bottom: 30px;
      }
      textarea {
        height: 50px;
      }
      
    #Name{
        font-size: 15px;
        position: relative;
        left: 100px;
        top: 86px;
    }
    
    #Alter{
        font-size: 15px;
        position: relative;
        left: 105px;
        top: 74px;
    
    }
    
    #Größe{
        font-size: 15px;
        position: relative;
        left: 108px;
        top: 64px;
    }
    
    #Augenfarbe{
        font-size: 15px;
        position: relative;
        left: 170px;
        top: 53px;
    }
    
    #Geburtstag{
        font-size: 15px;
        position: relative;
        left: 170px;
        top: 42px;
    }
    
    #Beschäftigung{
        font-size: 15px;
        position: relative;
        left: 200px;
        top: 31px;
        width: 500px;
    }
    
    #Interessen{
        font-size: 15px;
        position: relative;
        left: 160px;
        top: 20px;
        width: 500px;
    }
    
  }

  /*Tablet*/
  @media screen and (max-width:1024px) and (min-width:600px){

    h1{
        color: violet;
        font-size: 150px;
        position: relative center;
        top: 10px;
        
    }

    body{
        background-size: 100%, 1%;
        background-position-y: 0px, 0px;
    }
    div>p{
        color: red;
    }

    #BeschreibungsText{
        position: relative;
        width: 600px;
        left: 40px;
        bottom: 10px;
        font-size: 20px;
        color: grey;
        text-shadow:1px 1px black;
    }

    #ListeN{
        font-size: 30px;
        inline-size: 10px;
        position: relative;
        left: 00px;
        top: 250px;
        color: darkviolet;

    }

    .SocialMedia{
        position: absolute;
        left: 280px;
        bottom: 150px;
    }

    .BlenderPicture{
        position: relative; 
        width: 100px;
        right: 200px;
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .BlenderPicture img{
        width: 500px;
    }

    .Profilbild img{
        width: 500px;
        height: 400px;
        position: relative;
        top: 120px;
        left: -50px;
    }

    .Videos{
        position: relative;
        top: 270px;
        width: 450px;
        height: 500px;
        display: block;
        margin: 0 auto;
    
    }

    video{
        width: 480px;
    }

    form {
        position: relative;
        left: 10px;
        top: 300px;
        background-color: #eee;
        width: 600px; 
        padding: 20px;
        border: 1px solid #8c8c8c;
      }

      label { 
        display: block; 
      }

      input#absender,
      textarea {
        width: 500px;
        border: 3px solid #9c9c9c;
        margin-bottom: 30px;
      }

      textarea {
        height: 50px;
      }

      #Name{
        font-size: 24px;
        position: relative;
        left: 135px;
        top: -15px;
    }
    
    #Alter{
        font-size: 24px;
        position: relative;
        left: 145px;
        top: -34px;
    
    }
    
    #Größe{
        font-size: 24px;
        position: relative;
        left: 155px;
        top: -50px;
    }
    
    #Augenfarbe{
        font-size: 24px;
        position: relative;
        left: 255px;
        top: -67px;
    }
    
    #Geburtstag{
        font-size: 24px;
        position: relative;
        left: 255px;
        top: -85px;
    }
    
    #Beschäftigung{
        font-size: 24px;
        position: relative;
        left: 310px;
        top: -103px;
        width: 1000px;
    }
    
    #Interessen{
        font-size: 24px;
        position: relative;
        left: 245px;
        top: -123px;
        width: 900px;
    }

  }

  





